<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            Do not worry, your password is under control!
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                You need to restore password, please click on the button
            </p>
            <a href="{{frontUrl}}/password/restore?token={{actionToken}}"> RESTORE PASSWORD </a>
        </td>
    </tr>
</table>
