<table style="width: 100%; padding: 45px 35px; box-sizing: border-box; background-color: #e2baba;">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}}, you have successfully logged out!
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                If you did not log out or believe this was a mistake, please click the link below to log back in.
            </p>
            <a href="{{frontUrl}}/login">LOG BACK IN</a>
        </td>
    </tr>
</table>
